services:
  cde:
    image: cde/${PRIMARY_CDE:?}
    environment:
      - GITHUB_SSH_KEY
      - TZ
    hostname: ${CDE_HOSTNAME:?}
    extra_hosts:
      - ${CDE_HOSTNAME:?}:127.0.0.1
    volumes:
      - type: volume
        source: cde_single
        target: /home/${USER:?}/.cde/mnt/single
      - type: volume
        source: local_share_fish
        target: /home/${USER:?}/.local/share/fish
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      - type: bind
        source: "~"
        target: /home/${USER:?}/hosthome
      # Bind volume `workspace` direcory instead of symlinking so that relative
      # path of bind volume inside CDE container does not result in error
      - type: bind
        source: ~/workspace
        target: /home/${USER:?}/workspace
    network_mode: "host"
volumes:
  cde_single:
    labels:
      prune: false
  local_share_fish:
    labels:
      prune: false
