- name: Install and setup misc stuff
  hosts: localhost
  tags:
    - misc
  tasks:
    - name: Install apt packages
      tags: ["apt"]
      ansible.builtin.include_role:
        name: apt
        tasks_from: latest
      vars:
        apt_packages:
          - xsel
          - keychain
