- name: Install apt packages
  hosts: localhost
  vars:
    apt_packages:
      - jq
      - unzip
  roles:
    - role: apt
      tags: ["apt"]

- name: Install just
  hosts: localhost
  connection: local
  tags: ["just"]
  tasks:
    - name: Check if latest just is installed
      vars:
        binary_name: just
        binary_installed_version_cmd: just --version | awk '{ print $2 }'
        binary_latest_version_cmd: curl -s https://api.github.com/repos/casey/just/releases/latest | jq -r .tag_name
      ansible.builtin.include_role:
        name: binary
        tasks_from: latest_is_installed

    - name: Install just
      when: not latest_binary_is_installed
      block:
        - name: Fetch just installer
          ansible.builtin.uri:
            url: https://just.systems/install.sh
            return_content: true
          register: fetch_just_installer

        - name: Run just installer
          ansible.builtin.command:
            cmd: bash -s -- --to ~/.local/bin/ --force
            stdin: "{{ fetch_just_installer.content }}"
          register: run_just_installer

    # TODO: use ansible.builtin.file to create directories
    - name: Setup just completion
      block:
        - name: Add just bash completion
          vars:
            just_bash_completion_path: "{{ lookup('ansible.builtin.env', 'HOME') }}/.local/share/bash-completion/completions/just.bash"
          when: just_bash_completion_path is not exists or run_just_installer is not skipped
          ansible.builtin.command:
            cmd: "{{ item }}"
          loop:
            - mkdir --parents {{ just_bash_completion_path | dirname }}
            - just --completions bash > {{ just_bash_completion_path }}

        - name: Add just fish completion
          vars:
            just_fish_completion_path: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/fish/completions/just.fish"
          when: just_fish_completion_path is not exists or run_just_installer is not skipped
          ansible.builtin.command:
            cmd: "{{ item }}"
          loop:
            - mkdir --parents {{ just_fish_completion_path | dirname }}
            - just --completions fish > {{ just_fish_completion_path }}
