- name: Install and setup tmux
  hosts: localhost
  tags:
    - tmux
  vars:
    tmux_config_dir: "{{ lookup('ansible.builtin.env', 'HOME') }}/.config/tmux"
    tpm_dir: "{{ tmux_config_dir }}/plugins/tpm"
  tasks:
    - name: Install tmux package
      ansible.builtin.include_role:
        name: apt
      vars:
        apt_packages:
          - tmux

    - name: Create tmux config directory
      ansible.builtin.file:
        path: "{{ tmux_config_dir }}"
        state: directory
        mode: "0755"

    - name: Create tmux config file
      ansible.builtin.blockinfile:
        path: "{{ tmux_config_dir }}/tmux.conf"
        block: |
          source ~/toybox/tmux/tmux.conf
        create: true
        mode: "0644"

    - name: Clone tpm repository
      ansible.builtin.git:
        repo: https://github.com/tmux-plugins/tpm
        dest: "{{ tpm_dir }}"
        depth: 1

    - name: Build taskwarrior
      ansible.builtin.command:
        cmd: ~/.config/tmux/plugins/tpm/bin/install_plugins
