- name: Install or upgrade packages
  become: true
  ansible.builtin.apt:
    name: "{{ apt_packages }}"
    state: latest
    install_recommends: false
    update_cache: true
    cache_valid_time: 3600
    force_apt_get: true
