- name: Check if latest taskwarrior is installed
  vars:
    binary_name: taskwarrior-tui
    binary_installed_version_cmd: taskwarrior-tui --version | awk '{print $2}'
    binary_latest_version_cmd: curl -s https://api.github.com/repos/kdheepak/taskwarrior-tui/releases/latest | jq -r .tag_name | cut -c 2-
  ansible.builtin.include_role:
    name: binary
    tasks_from: latest_is_installed

- name: Install taskwarrior-tui
  when: not latest_binary_is_installed
  block:
    - name: Install taskwarrior-tui
      ansible.builtin.command:
        cmd: ../github-latest-release-installer.sh -t kdheepak taskwarrior-tui taskwarrior-tui-x86_64-unknown-linux-gnu.tar.gz ~/.local/bin
