services:
  test:
    image: cde/host-setup-test
    volumes:
      - type: bind
        source: ./
        target: /home/${USER:?}/wd/
      - type: bind
        source: ../root/ctx/home/.local/bin/github-latest-release-installer.sh
        target: /home/${USER:?}/wd/github-latest-release-installer.sh
      - type: bind
        source: /home/${USER:?}/.ssh
        target: /home/${USER:?}/.ssh
